{% extends 'partials/base.html.twig' %}

{% set page_class = "page-features" %}

{% block content %}
{#<section class="block-slider" >#}
{#    <div class="block-wrapper">#}
{#        {% set images = page.media.images %} #}
{#        {% for img in images %}#}
{#        <div class="item"> #}
{#            <img width="100%" src="{{ img.cropZoom(10,10).url }}" data-lazy-srcset="{{ img.cropZoom(767,400).url }} 767w, {{ img.cropZoom(991,600).url }} 991w, {{ img.cropZoom(1920,700).url }} 1920w"> #}
{#        </div>#}
{#        {% endfor %} #}
{#    </div>#}
{#</section>  #}
 
<h1 class="page-header bgc-dark p30 py70-lg px120-lg text-center text-white fs20 fs34-lg fw700 m0">
    {{ page.header.title }}
</h1> 


<div class="py30 py50-md px20 px30-md">
    <div class="row">
        {% for feature in header.features %} 
            <div class="item col-6 col-md-4 col-lg-3 mb20">
                <div class="item-wrapper"> 
                    {% for img in feature.image %}
                        <div class="item__image">
                            <img class="w-100" alt="{{ feature.title }}" src="{{ page.media[img.name].resize(370,370).url }}">
                        </div>
                    {% endfor %}
                    
                    
                    {% for pdf in feature.pdf %}
                        <div class="item__rm text-center mt20">
                            <a class="link-download bgc-orange text-white text-uppercase fw700 fs14 ls1 py15 px23 btn-default d-inline-block" href="{{ page.media[pdf.name].url }}" download="{{ page.media[pdf.name].url }}">
                                <i class="fa fa-download mr-1"></i> Download File
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
    </div>
</div>


{% endblock %}